table {
	font-family: Roboto, sans-serif;
	font-weight:100;
	color:black;
	font-size:2.5em;
	width:100%;
}
td *{
	width:100%;
}
td:first-child {
	width:40%;
}
tr {
	height:2.7em;
}
.form {
	margin: 3em auto 0 auto;
	width:60%;
	padding:1em 2em;
	background:white;
	border-radius:5px;
	box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.2);
}