// jumbo

.jumbo {
	text-align: center;
}
.jumbo-text {
	font-family: Roboto, sans-serif;
	font-weight: 100;
	margin: 0px;
	color: #ffffff;
}

h1.jumbo-text {
	font-size: 20em;
}

h2.jumbo-text {
	font-size: 2em;
}
